In [1]:
import yfinance as yf
import pandas as pd

# import plotly.express as px
# import plotly.graph_objects as go
# from plotly.subplots import make_subplots

import datetime as dt
from datetime import timedelta

from matplotlib import pyplot as plt

import json
import os

In [2]:
# parameters for API call
start = start = dt.datetime(2010,12,1)
end = dt.datetime(2020,2,29)
ticker = 'NG=F' #

In [3]:
# API request
df = yf.download(ticker,start,end)

[*********************100%***********************]  1 of 1 completed

In [4]:
# rename adjusted close column
df = df.rename(columns={"Adj Close":'Adj_Close'})
df

             Open   High    Low  Close  Adj_Close  Volume
Date
2010-12-01  4.196  4.324  4.164  4.269      4.269  118741
2010-12-02  4.310  4.377  4.197  4.343      4.343  135776
2010-12-03  4.341  4.391  4.280  4.349      4.349   86975
2010-12-06  4.385  4.540  4.328  4.488      4.488  151475
2010-12-07  4.500  4.545  4.383  4.393      4.393  155154
...           ...    ...    ...    ...        ...     ...
2020-02-24  1.884  1.884  1.824  1.827      1.827   75204
2020-02-25  1.836  1.862  1.819  1.847      1.847   70528
2020-02-26  1.848  1.880  1.810  1.821      1.821  163415
2020-02-27  1.828  1.831  1.719  1.752      1.752  276100
2020-02-28  1.748  1.750  1.642  1.684      1.684  218418

[2324 rows x 6 columns]

In [5]:
# https://stackoverflow.com/questions/40256338/calculating-average-true-range-atr-on-ohlc-data-with-python
# fifth answer
days = 5
# calculate Average True Range over length of dataset
ATR = pd.concat([df.High.sub(df.Low), df.High.sub(df.Adj_Close.shift()), df.Low.sub(df.Adj_Close.shift())], axis=1).max(1).ewm(span=days).mean()

In [6]:
ATR = pd.DataFrame(ATR)
ATR

                   0
Date
2010-12-01  0.160000
2010-12-02  0.172000
2010-12-03  0.143105
2010-12-06  0.171723
2010-12-07  0.167990
...              ...
2020-02-24  0.072027
2020-02-25  0.062352
2020-02-26  0.064901
2020-02-27  0.080601
2020-02-28  0.089734

[2324 rows x 1 columns]

In [ ]:
####### plot NG price and ATR over length of timeframe ########

plt.figure(figsize=(12,8))

## natural gas futures prices plot
ax1 = plt.subplot(211)
ax1.plot(df.index, df['Adj_Close'], color='lightgray')
ax1.set_title('Adjusted Close Price', color ="white")

ax1.grid(True, color='#555555')
ax1.set_axisbelow(True)
ax1.set_facecolor('black')
ax1.figure.set_facecolor('#121212')
ax1.tick_params(axis='x', colors='white')
ax1.tick_params(axis='y', colors='white')


# 14 day ATR plot
ax2 = plt.subplot(212, sharex=ax1)
ax2.plot(df.index, ATR, color='white')



ax2.set_title(f'Average True Range({days})', color='white')
ax2.grid(True)
ax2.set_axisbelow(True)
ax2.set_facecolor('black')
ax2.tick_params(axis='x', colors='white')
ax2.tick_params(axis='y', colors='white')


##################

plt.show()

In [ ]:
# merge ATR data to price dataframe
merged_df = pd.concat([df, ATR], axis=1)

In [ ]:
# rename 0 column to 'ATR'
merged_df.rename(columns={0:'ATR'}, inplace=True)

In [ ]:
# final merged df
merged_df

In [ ]:
# making index a 'Date' column
    # simplifies filtering by date in following steps
merged_df = merged_df.reset_index()

In [ ]:
merged_df

In [ ]:
# build list of years in timeframe
years = [year for year in range(2010,2020)]
years

In [ ]:
# combine all winter data into single dataframe
filtered_df = pd.DataFrame()

for year in years:
    winter_df = merged_df.loc[(merged_df['Date'] >= f'{year}-12-01') & (merged_df['Date'] <f'{year+1}-03-01')]
    filtered_df = pd.concat([filtered_df, winter_df])

In [ ]:
filtered_df

In [ ]:
# export dataframe above in CSV file
# filtered_df.to_csv('winter_NG_data.csv', index=False)

In [ ]:
######################## build sub-datasets for each year ############################

In [ ]:
############ 2011 - 2012 #############

In [ ]:
# price and ATR data for 2011-12-01 - 2012-02-29
winter_11_12 = merged_df.loc[(merged_df['Date'] >= '2011-12-01') & (merged_df['Date'] < '2012-03-01')]
winter_11_12

In [ ]:
# plot price and ATR data for 12/01/2010 - 3/28/2011


plt.figure(figsize=(12,8))

## natural gas futures prices plot
ax1 = plt.subplot(211)
ax1.plot(winter_11_12['Date'], winter_11_12['Adj_Close'], color='lightgray')
ax1.set_title('Adjusted Close Price', color ="white")

ax1.grid(True, color='#555555')
ax1.set_axisbelow(True)
ax1.set_facecolor('black')
ax1.figure.set_facecolor('#121212')
ax1.tick_params(axis='x', colors='white')
ax1.tick_params(axis='y', colors='white')


# 14 day ATR plot
ax2 = plt.subplot(212, sharex=ax1)
ax2.plot(winter_11_12['Date'], winter_11_12['ATR'], color='white')



ax2.set_title('Average True Range', color='white')
ax2.grid(True)
ax2.set_axisbelow(True)
ax2.set_facecolor('black')
ax2.tick_params(axis='x', colors='white')
ax2.tick_params(axis='y', colors='white')


##################

plt.show()

In [ ]:
#convert from date time to string
winter_11_12 = winter_11_12.copy()
winter_11_12["Date"] = winter_11_12["Date"].astype("str")

In [ ]:
# change 'Date' to index
# winter_11_12 = winter_11_12.set_index('Date')
# winter_11_12

In [ ]:
# export JSON file
winter_11_12.to_json(r'Price_data\ATR_11_12.json')

In [ ]:
############ 2012 - 2013 #############

In [ ]:
# filter price/ATR data
winter_12_13 = merged_df.loc[(merged_df['Date'] >= '2012-12-01') & (merged_df['Date'] < '2013-03-01')]
winter_12_13

In [ ]:
#convert from date time to string
winter_12_13 = winter_12_13.copy()
winter_12_13["Date"] = winter_12_13["Date"].astype("str")

In [ ]:
# change 'Date' to index
# winter_12_13 = winter_12_13.set_index('Date')
# winter_12_13

In [ ]:
# export JSON file
winter_12_13.to_json(r'Price_data\ATR_12_13.json')

In [ ]:
############ 2013 - 2014 #############

In [ ]:
# filter price/ATR data
winter_13_14 = merged_df.loc[(merged_df['Date'] >= '2013-12-01') & (merged_df['Date'] < '2014-03-01')]
winter_13_14

In [ ]:
#convert from date time to string
winter_13_14 = winter_13_14.copy()
winter_13_14["Date"] = winter_13_14["Date"].astype("str")

In [ ]:
# change 'Date' to index
# winter_13_14 = winter_13_14.set_index('Date')
#winter_13_14

In [ ]:
# export JSON file
winter_13_14.to_json(r'Price_data\ATR_13_14.json')

In [ ]:
############ 2014 - 2015 #############

In [ ]:
# filter price/ATR data
winter_14_15 = merged_df.loc[(merged_df['Date'] >= '2014-12-01') & (merged_df['Date'] < '2015-03-01')]
winter_14_15

In [ ]:
#convert from date time to string
winter_14_15 = winter_14_15.copy()
winter_14_15["Date"] = winter_14_15["Date"].astype("str")

In [ ]:
# change 'Date' to index
# winter_14_15 = winter_14_15.set_index('Date')
#winter_14_15

In [ ]:
# export JSON file
winter_14_15.to_json(r'Price_data\ATR_14_15.json')

In [ ]:
############ 2015 - 2016 #############

In [ ]:
# filter price/ATR data
winter_15_16 = merged_df.loc[(merged_df['Date'] >= '2015-12-01') & (merged_df['Date'] < '2016-03-01')]
winter_15_16

In [ ]:
#convert from date time to string
winter_15_16 = winter_15_16.copy()
winter_15_16["Date"] = winter_15_16["Date"].astype("str")

In [ ]:
# change 'Date' to index
# winter_15_16 = winter_15_16.set_index('Date')
#winter_15_16

In [ ]:
# export JSON file
winter_15_16.to_json(r'Price_data\ATR_15_16.json')

In [ ]:
############ 2016 - 2017 #############

In [ ]:
# filter price/ATR data
winter_16_17 = merged_df.loc[(merged_df['Date'] >= '2016-12-01') & (merged_df['Date'] < '2017-03-01')]
winter_16_17

In [ ]:
#convert from date time to string
winter_16_17 = winter_16_17.copy()
winter_16_17["Date"] = winter_16_17["Date"].astype("str")

In [ ]:
# change 'Date' to index
# winter_16_17 = winter_16_17.set_index('Date')
#winter_16_17

In [ ]:
# export JSON file
winter_16_17.to_json(r'Price_data\ATR_16_17.json')

In [ ]:
############ 2017 - 2018 #############

In [ ]:
# filter price/ATR data
winter_17_18 = merged_df.loc[(merged_df['Date'] >= '2017-12-01') & (merged_df['Date'] < '2018-03-01')]
winter_17_18

In [ ]:
#convert from date time to string
winter_17_18 = winter_17_18.copy()
winter_17_18["Date"] = winter_17_18["Date"].astype("str")

In [ ]:
# change 'Date' to index
# winter_17_18 = winter_17_18.set_index('Date')
#winter_17_18

In [ ]:
# export JSON file
winter_17_18.to_json(r'Price_data\ATR_17_18.json')

In [ ]:
############ 2018 - 2019 #############

In [ ]:
# filter price/ATR data
winter_18_19 = merged_df.loc[(merged_df['Date'] >= '2018-12-01') & (merged_df['Date'] < '2019-03-01')]
winter_18_19

In [ ]:
#convert from date time to string
winter_18_19 = winter_18_19.copy()
winter_18_19["Date"] = winter_18_19["Date"].astype("str")

In [ ]:
# change 'Date' to index
# winter_18_19 = winter_18_19.set_index('Date')
#winter_18_19

In [ ]:
# export JSON file
winter_18_19.to_json(r'Price_data\ATR_18_19.json')

In [ ]:
############ 2019 - 2020 #############

In [ ]:
# filter price/ATR data
winter_19_20 = merged_df.loc[(merged_df['Date'] >= '2019-12-01') & (merged_df['Date'] < '2020-03-01')]
winter_19_20

In [ ]:
#convert from date time to string
winter_19_20 = winter_19_20.copy()
winter_19_20["Date"] = winter_19_20["Date"].astype("str")

In [ ]:
# change 'Date' to index
# winter_19_20 = winter_19_20.set_index('Date')
#winter_19_20

In [ ]:
# export JSON file
winter_19_20.to_json(r'Price_data\ATR_19_20.json')

In [ ]:
#Function to convert dataframes to dictionaries
def get_naturalgas_dict(dataframe):
    naturalgas_dict = dataframe.to_dict(orient='records')
    return naturalgas_dict

In [ ]:
#Convert all natural gas dataframes to dictionaries
winter_11_12_dict = get_naturalgas_dict(winter_11_12)
winter_12_13_dict = get_naturalgas_dict(winter_12_13)
winter_13_14_dict = get_naturalgas_dict(winter_13_14)
winter_14_15_dict = get_naturalgas_dict(winter_14_15)
winter_15_16_dict = get_naturalgas_dict(winter_15_16)
winter_16_17_dict = get_naturalgas_dict(winter_16_17)
winter_17_18_dict = get_naturalgas_dict(winter_17_18)
winter_18_19_dict = get_naturalgas_dict(winter_18_19)
winter_19_20_dict = get_naturalgas_dict(winter_19_20)

In [ ]:
#Create dictionary to hold all datasets to export
naturalgas_datasets = {
    'winter_11_12': winter_11_12_dict,
    'winter_12_13': winter_12_13_dict,
    'winter_13_14': winter_13_14_dict,
    'winter_14_15': winter_14_15_dict,
    'winter_15_16': winter_15_16_dict,
    'winter_16_17': winter_16_17_dict,    
    'winter_17_18': winter_17_18_dict,
    'winter_18_19': winter_18_19_dict,
    'winter_19_20': winter_19_20_dict,
}

In [ ]:
naturalgas_datasets

In [ ]:
def export_data_to_json(data, filename):
    with open(filename, 'w') as file:
        json.dump(data, file)

def export_datasets(datasets):
    data_folder = 'data'

    # Create 'data' folder if it doesn't exist
    if not os.path.exists(data_folder):
        os.makedirs(data_folder)

    for dataset_name, dataset in datasets.items():
        filename = os.path.join(data_folder, f"{dataset_name}_data.json")
        export_data_to_json(dataset, filename)

In [ ]:
export_datasets(naturalgas_datasets)